<%= form_with(model: cash) do |form| %>
  <% if cash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cash.errors.count, "error") %> prohibited this cash from being saved:</h2>

      <ul>
        <% cash.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Cash In Amount" %>
    <%= form.text_field :balance, :value => 0.0 %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
