<p id="notice"><%= notice %></p>

<h1>Portfolio</h1>

<table>
  <thead>
    <tr>
      <th>Stock name</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Total value</th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= Stock.find(inventory.stock_id).name %></td>
        <td><%= inventory.quantity %></td>
        <td><%= Stock.find(inventory.stock_id).price %></td>
        <td><%= inventory.market_value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cash In', edit_cash_path(Cash.find_by(user_id: current_user.id)) %>
