<p id="notice"><%= notice %></p>

<h1>Portfolio</h1>

<table>
  <thead>
    <tr>
      <th>Stock name</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Total value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= Stock.find(inventory.stock_id).name %></td>
        <td><%= inventory.quantity %></td>
        <td><%= Stock.find(inventory.stock_id).price %></td>
        <td><%= inventory.market_value %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
