<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
  <div class="container w-50 d-flex flex-column justify-content-center align-items-center">
    <h2>Log in</h2>

    <div class="container w-50 border rounded d-flex flex-column justify-content-center align-items-center p-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: "tu14@sharklasers.com", class: "w-100"%>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "fs-7" %><br />
          <%= f.password_field :password, autocomplete: "current-password", value:"P@ssw0rd", class: "w-100"%>
        </div>

        </br>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary btn-custom w-100"%>
        </div>
      <% end %>
    </div>

    <br />

    <span class="text-center fs-7">Don't have an account? <%= render "users/shared/links" %></span>
  </div>
</div>
