<p id="notice"><%= notice %></p>

<h1>Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.code %></td>
        <td><%= stock.price %></td>
        <td><%= link_to 'Show', stock %></td>
        <td><%= link_to new_transaction_path(:transaction_type => "Buy", :stock_id => stock.id, :price => stock.price) do%>Buy<% end %></td>
        <% if current_user.inventories.find_by(stock_id: stock.id) %>
        <td><%= link_to new_transaction_path(:transaction_type => "Sell", :stock_id => stock.id, :price => stock.price) do%>Sell<% end %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
