<div class="container w-50 d-flex flex-column justify-content-center align-items-center p-4">
  <%= form_with(model: transaction) do |form| %>
    <% if transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

        <ul>
          <% transaction.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, class: "w-100" %>
    </div>

    <div class="field">
      <%= form.label :unit_price %>
      <%= form.number_field :unit_price, disabled: true, value: params[:price], class: "w-100"%>
      <%= form.hidden_field :unit_price, value: params[:price]%>
    </div>

    <div class="field">
        <%= form.label "Stock" %>
        <%= form.text_field "Stock", disabled: true, value: Stock.find(params[:stock_id]).name, class: "w-100"%>
    </div>

    <%= form.hidden_field :stock_id, value: params[:stock_id] %>

    <%= form.hidden_field :transaction_type, value: params[:transaction_type]%>
    <br/>

    <div class="actions">
      <%= form.submit params[:transaction_type], class: "btn primary-background btn-custom w-100" %>
    </div>
  <% end %>
</div>