<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Stock name</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Type</th>
      <th>Is fulfilled</th>
      <th>Date posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= Stock.find(transaction.stock_id).name %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.unit_price %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.is_fulfilled %></td>
        <td><%= transaction.created_at.strftime("%-d %B %Y %l:%M %p") %></td>
        <td><%# link_to 'Show', transaction #%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
